.cardsListFirst {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 262px;
    gap: 20px;
    margin-bottom: 20px;
}

.cardsListSecond {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 150px);
    gap: 20px;
}

@media (max-width: 1400px) {
    .cardsListSecond {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 800px) {
    .cardsListSecond {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 150px);
    }

    .cardsListFirst {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 150px);
    }
}
